node_modules/*
client/assets/node_modules/*
blockchain/deployBluemix/keyValueStore/*
!blockchain/deployBluemix/keyValueStore/.gitkeep
blockchain/deployBluemix/latest_deployed
blockchain/deployLocal/*
!blockchain/deployLocal/.gitkeep
*.css
.DS_Store
/.idea
*.log
npm-debug.log.*
/src/build-chaincode/vendor
/src/build-chaincode/build-chaincode
