node_modules/*
client/assets/node_modules/*
blockchain/deployLocal/*
!blockchain/deployLocal/.gitkeep
*.css
.DS_Store
/.idea
*.log
npm-debug.log.*
src/build-chaincode/vendor
blockchain/deployBluemix/keyValueStore/
blockchain/deployBluemix/chaincode_id
/src/build-chaincode/vendor
/src/build-chaincode/build-chaincode
