node_modules/*
client/assets/node_modules/*
blockchain/deployLocal/*
!blockchain/deployLocal/.gitkeep
*.css
.DS_Store
/.idea
logs/*.log
npm-debug.log.*
src/build-chaincode/vendor
blockchain/deployBluemix/keyValueStore/
