.notificationBar{
    list-style: none;
    padding: 0;
    position: relative;
    li {
        margin-bottom: 60px;
        
        div{
            border: 1px solid #ddd;
            padding: 10px;
            background-color: white;
            width: 100%;
            margin-top:0;

            h2{
                margin-top: 0px;
                display: inline-block;
                vertical-align: bottom;
            }
            //circles
            i {
                width: 50px;
                height: 50px;
                display: inline-block;
                text-align: center;
                line-height: 30px;


            }
            .glyphicon {
                    background-size: 60%;
                    width: 50px;
                    height: 50px;
            }
        }
        .details {
            margin-left: 0;
            p:nth-child(odd) {
                color: #009286;
            }
        }
        .hashes {
            font-size: 13px;
        }
        .transactions-box {
            max-height: 320px;
            overflow: scroll;
            h4 {
                margin-top: 6px;
                margin-bottom: 3px;

            }
            .transaction {
                height: 100px;
                .transaction-id {
                    font-size: 14px;
                }
                p {
                    font-size: 11px;
                    margin-bottom: 0px;
                }
                .event {
                    color: #009286;
                    font-weight: bold;
                }
                .col-xs-2 {
                    padding-left: 0px;
                    padding-top: 4px;
                }
                .col-xs-10 {
                    padding-top: 4px;
                }
            }
        }
    }

}

//vertical line
.notificationBar:after {
        content: '';
        width: 1px;
        height: 100%;
        background-color: #596363;
        position: absolute;
        top: 0;
        left: 50%;
        z-index: -1;

    }
.panel-title {
    margin-bottom: 30px;
}


