<div class="container login-page">
    <div class="row">
            <div class="form-login">
                <form ng-submit="login.login(credentials)">
                    <label for="userName" class="control-label">User ID</label>
                    <div class="form-group" data-ng-class="{'has-warning has-feedback': login.invalidCredentials}">
                        <input type="text" id="userName" class="form-control" ng-model="credentials.userId"/>   
                        <span class="glyphicon glyphicon-warning-sign form-control-feedback" data-ng-show="login.invalidCredentials"></span>
                    </div>
                    <label for="inputPassword" class="control-label">Password</label>
                    <div class="form-group" data-ng-class="{'has-warning has-feedback': login.invalidCredentials}">
                        <input id="inputPassword" class="form-control" type="password" ng-model="credentials.password">
                        <span class="glyphicon glyphicon-warning-sign form-control-feedback" data-ng-show="login.invalidCredentials"></span>
                        <span class="help-block" data-ng-show="login.invalidCredentials">User ID and/or Password incorrect</span>
                    </div>
                    <button type="submit" id="login-button" class="btn btn-primary btn-md">
                        Login 
                    </button>
                </form>
            </div>
        <spinner data-ng-show="login.showAuthenticatingSpinner"></spinner>
    </div>
</div>
